{% extends 'base.html' %}

{% block content %}
<h1>Activity Detail</h1>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span10">
      <h2>Club</h2>
      <table>
        <tr>
          <td width="100"><b>Time</b></td>
          <td>10:00 11/11/2017</td>
        </tr>
        <tr>
          <td width="100"><b>Location</b></td>
          <td>City</td>
        </tr>
      </table>

      <br/>
      <h5>Description</h5>

      <p>A club is among the simplest of all weapons: a short staff or stick, usually made of wood, wielded as a weapon since prehistoric times. There are several examples of blunt-force trauma caused by clubs in the past, including at the site of Nataruk in Turkana, Kenya, described as the scene of a prehistoric conflict between bands of hunter-gatherers 10,000 years ago. In popular culture, clubs are associated with primitive cultures, especially cavemen.</p>
      
    </div>
  </div>


{% endblock %}