{% extends 'base.html' %}

{% block content %}
<h1>Personal</h1>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Paranormal</h2>
      <p>Paranormal Activity is a 2007 American horror film written, co-produced, photographed, edited, and directed by Oren Peli. It is the first (chronologically, the third) entry into the Paranormal Activity film series. The film centers on a young couple, Katie (Katie Featherston) and Micah (Micah Sloat) are haunted by a supernatural presence in their home. It is presented in the style of "found footage", from cameras set up by the couple in an attempt to document what is haunting them. The film sets up found-footage conventions that were mirrored in the later films of the series. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Business</h2>
      <p>Business activities include any activity engaged in the primary purpose of making a profit. This is a general term that encompasses all the economic activities carried out by a company during the course of business. Business activities, including operating, investing and financing activities, are ongoing and focused on creating value for shareholders. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Sports</h2>
      <p> Sport activity includes all forms of competitive physical activity or games which,[1] through casual or organised participation, aim to use, maintain or improve physical ability and skills while providing enjoyment to participants, and in some cases, entertainment for spectators.[2] Usually the contest or game is between two sides, each attempting to exceed the other. Some sports allow a tie game; others provide tie-breaking methods, to ensure one winner and one loser. A number of such two-sided contests may be arranged in a tournament producing a champion.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

  </div>

	<br/><br/>
	<div class="row">
	<a class="btn btn-primary btn-lg" style="float: right; margin-right: 2%" href="/activities">Add new activities</a>
	</div>



{% endblock %}