{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="{% static "css/login_style.css" %}" rel="stylesheet">
</head>
<body>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	{% if messages %}
		<ul class = "messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">
					{{message|safe}}
					<a href="#" class="close"></a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
	<script type="application/javascript" src="/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script>
		var csrftoken = $.cookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		$(document).ready(function(){
			{% block domready %}
			{% endblock %}
		});
	</script>
</body>
</html>